$cardColor: #f8f2fd;

$basePurple: #8c60a8;

$dotedColor: #383838;

$colorWhite: #fff;
$colorBlack: #000;

@import "./cardExtends/cardExtends";

.card {
    border: 1px solid #ccc;
    width: 350px;
    height: auto;
    border-radius: 1rem;
    background: $cardColor;
    position: relative;
    box-sizing: border-box;

    .header-head {
        margin: 1rem;
        @extend %df-vertical-center-beetween;

        .header-head-left {
            display: flex;
            align-items: center;
            text-align: center;


        }

        .header-user-img {
            background: $basePurple;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            padding: 0.25rem;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: #fff;
                font-weight: bold;
            }
        }

        .header-user-name {
            margin-left: 20px;

            .user {
                display: flex;
                flex-direction: column;
                @extend %bold-head;
            }

            .detail {
                color: #ccc;
                padding: 0;
                margin: 0;
                font-weight: 200 !important;
            }
        }

        .header-button {
            display: flex;
            flex-direction: column;

            .doted {
                width: 4px;
                height: 4px;
                background: $dotedColor;
                margin-bottom: 5px;
            }
        }
    }

    .header-img {
        img {
            width: 100%;
        }
    }

    .header-details {
        margin: 20px;

        h1 {
            display: flex;
            flex-direction: column;
            @extend %bold-head-small;
            margin-bottom: 50px;

            span {
                color: #ccc;
                padding: 0;
                margin: 0;
                font-weight: 200 !important;
            }
        }
    }

    .header-buttons {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-bottom: 15px;

        a {
            text-decoration: none;
            color: $colorBlack;
            margin: 10px;
        }

        .buttons-light {
            border: 1px solid #383838;
            padding: 5px 20px;
            color: $basePurple;
            font-weight: bold;
            border-radius: 50px;
        }

        .buttons-dark {
            border: 1px solid $basePurple;
            padding: 5px 20px;
            color: $colorWhite;
            background: $basePurple;
            font-weight: bold;
            border-radius: 50px;
        }
    }


}